<div data-options="dxView : { name: 'contact', title: 'Contact' } " >
    <div class="ig" data-options="dxContent : { targetPlaceholder: 'content' } " >
           <div data-bind="dxScrollView: {}">
        <div class="Contact">
            	<h2>
			<span class="contact-name">Cevious Technologies (P) Ltd.</span>
		</h2>
            <h3>Contact</h3>
            <div class="contact-image">
                <img src="../Images/ContactUs-pict.gif" alt="conatct-image" />
                </div>
            <div class="contact-address">
                <span class="jiscon-icons"> <img src="../Images/con_address.png" alt="Address:" /></span>
                <address>
                    <span class="contact-street">
                        C-220/4, 3rd Floor<br />
Savitri Nagar, Malviya Nagar, <br />
New Delhi - 110017 (India)
                    </span>

                </address>
            </div>
            <div class="contact-contactinfo">
	<p>
		<span class="jicons-icons" style="background-color:red" >
			<img src="../Images/emailButton.png" alt="Email: "  />	<a href= 'mailto:info@cevious.com'>info@cevious.com</a>	</span>
		<span class="contact-emailto">
			
 		</span>
	</p>

	<p>
		<span class="jicons-icons" >
			<img src="../Images/con_tel.png" alt="Phone: " />		</span>
		<span class="contact-telephone">
			+91 11 40529090		</span>
	</p>
	<p>
		<span class="jicons-icons" >
			<img src="../Images/con_fax.png" alt="Fax: "/>		</span>
		<span class="contact-fax">
		+91 11 41831665		</span>
	</p>
	<p>
		<span class="jicons-icons" >
			<img src="../Images/con_mobile.png" alt="Mobile: "  />		</span>
		<span class="contact-mobile">
			+91 9868763965		</span>
	</p>
	</div>
        </div>

    </div>
</div>
</div>